.datatable-container {
  width: 80%;
  display: block;
  margin: 20px auto;
}

thead {
  background: rgb(38, 34, 41) !important;
  color: white !important;
  font-size: 0.9rem;
}
.country-container{
  display: flex;
  justify-content: space-between;
}
.search-label {
  display: block !important;
  margin: 70px auto 20px !important;
  width: 50%;
}

.form-control {
  border: 2px solid rgb(59, 42, 87);
  border-radius: 20px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: rgb(38, 34, 41);
  border-color: rgb(38, 34, 41);
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: rgb(38, 34, 41);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.death-tag {
  background: #d9534f;
  text-align: center;
  color: rgb(238, 237, 237);
  border-radius: 5px;
  width: 50px;
  padding: 3px;
  font-size: 0.8rem;
  /* font-weight: 700; */
  line-height: 1.5;
  border-radius: 3px;
}
.recover-tag {
  background: #5cb85c;
  text-align: center;
  color:rgb(238, 237, 237);
  border-radius: 5px;
  width: 50px;
  padding: 3px;
  font-size: 0.8rem;
  /* font-weight: 700; */
  line-height: 1.5;
  border-radius: 3px;
}

@media all and (max-width: 600px) {
  thead {
    background: rgb(38, 34, 41) !important;
    color: white !important;
    font-size: 0.39rem !important;
    word-wrap: break-word;
  }
  .country-container{
    display: flex;
    flex-direction: column;
  }
  .country-container img{
    width: 25px;
  }

  .death-tag {
    display: block !important;
    margin: auto !important;
    background: #d9534f;
    text-align: center;
    color: rgb(238, 237, 237);
    border-radius: 5px;
    width: 33px;
    padding: 3px;
    font-size: 0.55rem;
    /* font-weight: 700; */
    line-height: 1.5;
    border-radius: 3px;
  }
  .recover-tag {
    display: block !important;
    margin: auto !important;
    background: #5cb85c;
    text-align: center;
    color: rgb(238, 237, 237);
    border-radius: 5px;
    width: 33px;
    padding: 3px;
    font-size: 0.55rem;
    /* font-weight: 700; */
    line-height: 1.5;
    border-radius: 3px;
  }

  table td{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: .55rem !important;
    font-weight: 500;
    word-wrap: break-word;
  }
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-top: 5px;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(38, 34, 41);
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .search-label {
    display: block !important;
    margin: 70px auto 20px !important;
    width: 70%;
  }
  
}
